$DarkPurple: #27002b;

@mixin box($back_color, $bord_color, $radius: null) {
    background: $back_color;
    border: 2px solid $bord_color;
    @if $radius != null {
        border-radius: $radius;
    }
}

html {
    scroll-padding-top: 5rem;
}

body {
    background: #181a1b;
    padding-top: 4rem;
    color: darkgrey;
}

nav {
    background: black;
}

a {
    color: purple;
    &:hover {
        color: purple;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
