@import 'base';
aside {
  position: fixed;
  margin-top: 1rem;
  width: 17.25%;
  left: 0.25%;
  button,
  a {
    font-size: 1.5rem !important;
  }
  #title {
    line-height: 2rem;
  }
}
button,
.stream {
  @extend %buttons;
}
.active {
  background: $DarkPurple;
  cursor: pointer;
  padding-left: 1rem;
}
.arrow {
  font-size: 2rem;
  padding: 0px 0px;
}
.corner {
  left: 0;
  z-index: 2 !important;
}
.cover {
  display: inline-block;
  img {
    width: 340px;
    height: 440px;
  }
}
.cover-season {
  float: left;
  width: 45%;
  img {
    width: 340px;
    height: auto;
    max-height: 440px;
  }
}
.date,
.slot,
.time {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
}
.date {
  background: $DarkPurple;
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
.dropbox {
  display: flex;
  label,
  select {
    border: $Gline;
    padding: 0.25rem;
    background: black;
  }
  label {
    white-space: nowrap;
    border-radius: 7px 0 0 7px;
    height: 2rem;
  }
  select {
    width: 100%;
    margin: 0 auto 0.5rem;
    height: 2rem;
    color: purple;
    font-size: 1rem;
    cursor: pointer;
  }
}
.icon {
  border-radius: 20%;
  margin-top: -0.5rem;
  vertical-align: middle;
}
.info {
  width: 55%;
  font-size: 1.5rem;
  td {
    border-top: $Gline;
  }
}
.setter,
#reset {
  font-size: inherit;
}
.setter {
  position: absolute;
  margin: 24rem auto;
  width: 340px;
}
.show {
  width: 8rem;
  height: auto;
  margin-bottom: 2px;
  font-size: 1rem;
  border-radius: 10px;
}
.show-season {
  border-bottom: 5px solid black;
  button {
    font-size: 1.75rem;
    margin: 0 1rem;
    padding: 0 1rem;
  }
  th {
    display: inline;
  }
}
.stream {
  padding: 0px 10px;
}
.stream-box {
  background: black;
  border: 2px solid $DarkGray;
  border-radius: 10px;
  width: 98%;
  position: relative;
  left: 0;
}
.stream-drag {
  background: black;
  color: purple;
  border: 2px solid $DarkGray;
  border-radius: 10px;
  margin: 10px 5px;
  width: auto;
  cursor: grab;
  list-style-type: none;
  padding-left: 1rem;
  &:active {
    box-shadow: 0 0 2rem red;
  }
}
.stream-label {
  margin-left: 0.5rem;
  cursor: grab;
}
.stream-input {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}
.time {
  padding: 2rem 0rem;
  position: sticky;
  left: 0;
  background: $DarkPurple;
  z-index: 1;
}
.window {
  @include box(black, purple, 20px);
  z-index: 1;
  position: absolute;
  width: 67%;
  padding: 20px;
  margin-top: 7rem;
  left: 25%;
  top: 18%;
  z-index: 8;
}
#calendar {
  border: 3px solid black;
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  td {
    width: 10rem;
  }
}
#calendar,
#season {
  @include container(65%);
  background: $DarkPurple;
  scroll-padding-top: 2rem;
  overflow: auto;
  scrollbar-color: #4d4b4b black;
  height: 85vh;
  display: grid;
}
#center {
  @include container(40%);
  display: flex;
  margin: -1rem auto auto;
}
#center-left {
  width: 75%;
}
#center-right {
  width: 30%;
}
#clear,
#list {
  margin: 1rem 0px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
#clear {
  visibility: hidden;
  background: $DarkPurple;
  color: purple;
}
#content {
  font-size: 1.75rem;
}
#content aside {
  display: block;
  right: 0;
  left: auto !important;
  width: 17% !important;
  font-size: 2rem;
  td {
    padding: 0.25rem 0 !important;
  }
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .setter {
    position: relative;
    margin: 0;
    width: auto;
  }
  #reset {
    position: relative;
    margin-top: 1rem;
  }
}
#list {
  margin-left: 5px;
}
#month {
  font-size: 3rem;
}
#reset {
  position: absolute;
}
#search {
  color: gray;
  background: $DarkPurple;
  padding: 0.25rem;
  line-height: 1.5;
  font-size: 1rem;
  border: $Gline;
  height: 100%;
}
#search,
#titles {
  width: 24rem;
}
#season {
  border: 2px solid black;
}
#settings {
  position: absolute;
  width: 17%;
  margin-top: 4rem;
}
#show {
  @include container(50%);
  display: flex;
  table {
    width: 100%;
    td {
      border-top: $Gline;
      padding: 0.5rem;
    }
  }
}
#streams {
  float: right;
  width: 68%;
  .icon {
    height: 2rem;
    width: 2rem;
  }
}
#titles {
  position: absolute;
  top: 55%;
  left: 9%;
  padding: 4px 0;
  background: black;
  border: $Gline;
  max-height: 25vh;
  overflow-y: auto;
  z-index: 10;
  li {
    border-bottom: $Gline;
  }
}
::-webkit-scrollbar {
  background: #000;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  -webkit-border-radius: 10px;
}
@media screen and (max-width: 1920px) {
  #center {
    width: 60%;
  }
  #show {
    width: 60%;
    left: 20%;
  }
}
@media screen and (max-width: 1200px) {
  aside a {
    font-size: 1.2rem;
  }
  .cover-season {
    width: 60%;
  }
  .info {
    width: 40%;
  }
  .show {
    width: auto;
  }
  #clear,
  #list {
    padding: 0.5rem;
  }
  #content aside {
    font-size: 1.5rem;
    width: 17.5% !important;
  }
  #show {
    width: 65%;
    left: 17.5%;
  }
}
@media screen and (max-width: 1000px) {
  aside a {
    font-size: 1rem !important;
  }
  .cover img {
    height: 21rem;
    width: 16rem;
  }
  .dropbox label {
    display: none;
  }
  .icon {
    width: 1rem !important;
    height: 1rem !important;
  }
  .setter {
    width: 16rem;
  }
  .stream-input {
    width: auto;
  }
  #center {
    width: 65%;
  }
  #clear,
  #list {
    margin: 0;
  }
  #content {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    .setter {
      margin-top: 18rem;
    }
  }
  #month {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .cover-season {
    float: none;
  }
  .info {
    width: 100%;
  }
  .stream-drag {
    padding-left: 0.5rem;
  }
  .stream-label {
    margin-left: 0.15rem;
  }
  #center-left {
    width: 30%;
  }
  #center-right {
    width: 70%;
  }
  #month {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  aside {
    display: none;
    a {
      font-size: 1.5rem !important;
    }
  }
  #calendar,
  #season {
    position: absolute;
    left: 0;
    width: 100%;
  }
  #center {
    width: 90%;
  }
  #content aside {
    width: 80% !important;
    left: 0 !important;
    background: black;
    border: 2px solid purple;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    padding: 20px;
    top: 18%;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  #show {
    width: 98%;
    left: 1%;
  }
}
@media screen and (max-width: 500px) {
  .window {
    .setter {
      margin-top: 19rem !important;
    }
  }
  #show {
    display: block;
  }
  #streams {
    width: 100%;
  }
}
