@import 'base';

aside {
    position: fixed;
    margin-top: 4rem !important;
    width: 18%;
    button, a {
        font-size: 1.5rem;
    }
    #title{
        line-height: 2rem;
    }
}

/* Bootstrap */
aside .input-group {
    padding-bottom: .5rem;
    width: 90%;
}

.input-group-text {
    background-color: black;
    color: darkgrey;
    border: 1px solid darkgrey;
}

.custom-select {
    background:
    black
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right .75rem center;
    background-size: 8px 10px;
    color: purple;
    border: 1px solid darkgrey;
}

.table td, .table th {
    border-top: 1px solid darkgrey;
    padding: .6rem;
}

/* Anime Calendar */
.active {
    background: $DarkPurple;
    cursor: pointer;
    padding-left: 1rem;
}

.cover {
    display: inline-block;
}

.cover-season {
    float: left;
    width: 45%;
    img {
        width: 340px;
        height: auto;
        max-height: 440px;
    }
}

.info {
    width: 55%;
    font-size: 1.5rem;
    td {
        border-top: 1px solid gray;
    }
}

%buttons {
    @include box(black, grey, 20px);
    color: purple;
    &:hover {
        box-shadow: 0px 0px 25px red;
    }
}

.show {
    @extend %buttons;
    width: 8rem;
    margin-bottom: 2px;
}

.show-season {
    border-bottom: 5px solid black;
}

.arrow {
    @extend %buttons;
    font-size: 2rem;
    padding: 0px 0px;
}

.stream {
    @extend %buttons;
    padding: 0px 10px 0px 10px;
}

.stream-box {
    background: black;
    border: 2px solid gray;
    border-radius: 10px;
    width: 90%;
    position: relative;
    left: 5%;
    padding-left: 2rem;
}

.stream-drag {
    background: black;
    color: purple;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    width: 90%;
    cursor: grab;
    list-style-type: none;
    padding-left: 1rem;
}

.stream-drag:active {
    box-shadow: 0 0 2rem red;
}

.stream-label {
    margin-left: .5rem;
    cursor: grab;
}

.stream-input {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.setter {
    @extend %buttons;
}

.time, .slot {
    padding: 1rem;
}

.date, .time, .slot {
    border: 2px solid black;
}

.slot, .date {
    text-align: center;
}

.date {
    background: $DarkPurple;
    position: sticky;
    top: 0;
}

.icon {
    border-radius: 20%;
    margin-top: -.5rem;
}

.window {
    @include box(black, purple, 20px);
    z-index: 1;
    position: absolute;
    width: 67%;
    padding: 20px;
    margin-top: 7rem;
    left: 25%;
    top: 18%;
}

#center {
    @include container(40%);
    display: flex;
}

#center-left {
    width: 75%;
}

#center-right {
    width: 25%;
}

#settings {
    position: absolute;
    width: 17%;
    margin-top: 4rem;
}

#month {
    font-size: 3rem;
}

#calendar, #season {
    @include container(65%);
    background: $DarkPurple;
    scroll-padding-top: 2rem;
    overflow: auto;
    scrollbar-color: #4d4b4b black;
    height: 50rem;
    display: grid;
}

#calendar {
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    td {
        width: 10rem;
    }
}


#season {
    border: 2px solid black;
}

::-webkit-scrollbar {
    background: #000;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-border-radius: 10px;
}
#add {
    margin-left: 4rem;
}

#sub {
    margin-left: 1rem;
}

#reset {
    @extend %buttons;
}

#clear, #list {
    @extend %buttons;
    margin: 1rem 0px;
    padding: .5rem 1rem;
}

#clear {
    visibility: hidden;
    background: $DarkPurple;
    color: purple;
}

#list {
    margin-left: 5px;
}

#search {
    color: gray;
    background: $DarkPurple;
    padding: .25rem;
}

#soon {
    font-size: 5rem;
}

#content {
    font-size: 1.75rem;
}

#content aside {
    display: block;
    right: 0;
    width: 17% !important;
    font-size: 2rem;
    line-height: 2.5rem;
}

#titles {
    position: absolute;
    top: 80%;
    left: 9%;
    padding: 4px 0;
    background: black;
    border: 1px solid gray;
    max-height: 25vh;
    overflow-y: auto;
    li {
        border-bottom: 1px gray solid;
    }
}

#titles, #search {
    width: 24rem;
    box-sizing:border-box;
}

#streams {
    float: right;
    width: 68%;
}

#show {
    @include container(50%);
    display: flex;
}

@media screen and (max-width: 1920px) {
    .stream-box {
        padding-left: 1rem;
    }

   #center {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .cover-season {
        width: 60%;
    }

    .info {
        width: 40%;
    }

    #clear, #list {
        padding: .5rem;
    }
}

@media screen and (max-width: 1150px) {
    .stream-box {
        padding-left: .5rem;
    }
}

@media screen and (max-width: 1000px) {
    .stream-box {
        padding-left: .1rem;
    }

    .stream-drag {
        width: auto;
    }

    .stream-input {
        width: auto;
    }

    #list, #clear {
        margin: 0;
    }

    #center {
        width: 65%;
    }

    #month {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .cover-season {
        float: none;
    }

    .info {
        width: 100%;
    }

    .stream-box {
        width: 95%;
        left: 0%;
    }

    .stream-drag {
        width: 95%;
    }

    #center-left {
        width: 30%;
    }

    #center-right {
        width: 70%;
    }

    #month {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }

    #calendar, #season {
        width: 100%;
    }

    #center {
        width: 90%;
    }
}
