html {
    scroll-padding-top: 5rem;
}

body {
    background: #181a1b;
    padding-top: 4rem;
    color: darkgrey;
}

nav {
    background: black;
}

a {
    color: purple;
}

a:hover {
    color: purple;
    text-decoration: none;
}

td {
    width: 10rem;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.input-group-text {
    background-color: black;
    color: darkgrey;
    border: 1px solid darkgrey;
}

.custom-select {
    background:
        black
        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
        no-repeat right .75rem center;
    background-size: 8px 10px;
}

.table td, .table th {
    padding: .6rem;
}

.arrow, .show, .stream, .setter, #clear, #list {
    background: black;
    border: 2px solid grey;
    border-radius: 20px;
    color: purple;
}

.show:hover, .arrow:hover, .stream:hover, .setter:hover, #clear:hover, #list:hover {
    box-shadow: 0px 0px 25px red;
}

.show {
    width: 10rem;
    margin-bottom: 2px;
}

.arrow {
    font-size: 2rem;
    padding: 0px 0px;
}

.stream {
    padding: 0px 10px 0px 10px;
}

.time, .slot {
    padding: 1rem;
}

.date, .time, .slot {
    border: 2px solid black;
    background: #27002b;
}

.slot, .date {
    text-align: center;
}

.date {
    position: sticky;
    top: 0;
}

.image {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    margin-top: -8px;
}

.setter {
    position: absolute;
    margin-top: 22rem;
    padding: 2px 10px;
}

.alert {
    position: absolute;
    color: gray;
    font-size: 3rem;
    background: black;
    border: solid purple;
    border-radius: 10px;
    padding: 0rem 1rem 0rem 1rem;
    z-index: 1;
    margin: 15rem 15rem;
    width: 35rem;
    height: auto;
}

.title {
    color: purple;
}

#input {
    position: relative;
    bottom: -1rem;
}

#month {
    font-size: 3rem;
}

#calendar {
    scroll-padding-top: 2rem;
    overflow: auto;
    scrollbar-color: #4d4b4b black;
    width: 100%;
    height: 50rem;
}

#calendar table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
}


::-webkit-scrollbar {
    background: #000;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-border-radius: 10px;
}

#cover {
    float:inherit;
    display:inline-block;
}

#streams {
    float: right;
    display: inline-block;
    width: 70%;
}

#cry {
    width: 15rem;
    height: 15rem;
}

#clear, #list {
    margin: 1rem 0px;
}

#clear {
    visibility: hidden;
    background: #27002b;
    color: purple;
}

#add {
    margin-left: 3rem;
}

#sub {
    margin-left: 0rem;
}
