{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "class-methods-use-this": ["error", {
      "enforceForClassFields": false
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-unused-expressions": ["error", {
      "allowTernary": true
    }]
  }
}
