html {
  scroll-padding-top: 5rem;
}

body {
  background: #181a1b;
  padding-top: 4rem;
  color: darkgrey;
}

nav {
  margin: auto;
  width: 40%;
  display: flex;
  padding: 0.5rem 0;
  z-index: 10;
}
nav a {
  color: gray;
  padding: 0.25rem;
}
nav svg {
  stroke: gray;
  stroke-width: 2px;
  stroke-linecap: round;
  border: 1px solid gray;
  border-radius: 5px;
  height: 2.25rem;
  width: 3rem;
}
nav svg:hover {
  cursor: pointer;
}

nav, #nav-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  color: purple;
}
a:hover {
  color: purple;
  text-decoration: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

#desktop {
  position: relative;
  top: 0.25rem;
  font-size: 1.25rem;
}

#nav-background {
  background: black;
  padding-bottom: 3.5rem;
  z-index: 5;
}

#nav-left {
  position: relative;
}

#nav-right {
  display: flex;
  padding-left: 0.5rem;
}
#nav-right label {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: -9px;
}

#nav-right-right {
  position: absolute;
  right: 0;
}

#main {
  font-size: 1.5rem;
  color: white;
}

#menu {
  visibility: hidden;
  position: absolute;
  display: grid;
  top: 100%;
  left: 0;
  width: 100%;
  padding-right: 2rem;
  border: 1px solid gray;
  background: black;
}

#mobile {
  visibility: hidden;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1920px) {
  nav {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  #nav-right {
    visibility: hidden;
  }

  #mobile {
    visibility: visible;
  }
}
.line {
  border-top: 2px solid gray;
}

#content {
  margin: auto;
  width: 40%;
}

@media screen and (max-width: 1920px) {
  #content {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}
